<section class="article">
    {% if article.image %}
        <img src="{{ article.image | img_url: 'master' }}" alt="{{ article.title }}">
    {% endif %}
    <h2 class="">
        {{ article.title }}
    </h2>
    <div class="">
        {{ article.content }}
    </div>
</section>