<!-- blog-template -->
<section class="blog">
    <h2 class="">{{ blog.title }}</h2>
    {% paginate blog.articles by section.settings.range %}
        {% for article in blog.articles %}
            {% render "article-snippet", article: article, classes: "CLASSES" %}
        {% endfor %}
        {% if paginate.pages > 1 %}
            <div class="">
                {{ paginate | default_pagination }}
            </div> 
        {% endif %}     
    {% endpaginate %}
</section>
<!-- blog-template //-->

{% schema %}
{
    "name": "Blog",
    "settings": [
        {
            "type": "range",
            "id": "range",
            "label": "Articles per page",
            "min": 1,
            "max": 16,
            "step": 1,
            "default": 1
        }
    ]
}
{% endschema %}