{% if section.settings.blog %}
    {% assign _blog = blogs[section.settings.blog] %}
    {% assign _articles = _blog.articles | reverse %}

    <section class="blog">
        <div class="grid-container">

            <h2 class="">{{ _blog.title }}</h2>
            <div class="">
                {% for _article in _articles limit: section.settings.range %}
                    {% render "article-snippet", article: _article, classes: "CLASSES" %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}

{% schema %}
{
    "name": "Blog",
    "settings": [
        {
            "type": "blog",
            "id": "blog",
            "label": "Blog"
        },
        {
            "type": "range",
            "id": "range",
            "label": "Articles per page",
            "min": 1,
            "max": 12,
            "step": 1,
            "default": 3
        }
    ],
    "presets": [
        {
            "category": "Homepage",
            "name": "Blog"
        }
    ]
}
{% endschema %}