<section class="search">
    {% paginate search.results by 1 %}
        <form action="/search" method="get" role="search">
            <input type="search" name="q" value="{{ search.terms | escape }}">
            <button type="submit">search</button>
        </form>

        {% if search.performed %}
            {% for item in search.results %}
                {% render "product-snippet", product: item, classes: "CLASSES" %}
            {% else %}
                <p class="">No results</p>
            {% endfor %}
        {% endif %}

        <div class="">
            {% if paginate.pages > 1 %}
                {{ paginate | default_pagination }}
            {% endif %}
        </div>
    {% endpaginate %}
</section>

{% schema %}
{
    "name": "Search",
    "settings": []
}
{% endschema %}